.navbar {
    display: flex;
    align-items: center;
    padding-left: 58px;
    justify-content: space-between;
    width: 1300px;
}

.site-nav__list {
    display: flex;
    list-style: none;
    align-items: center;
}

.site-nav__item {
    padding-right: 32px;
}

.site-nav__link {
    font-family: 'Space Mono bold';
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        color: #FCB72B;
    }
}